body {
  margin: 0;
  padding: 20px;
  font-family:   "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6fa;
  
}
h5{
  color: #005792;
}

input{
  height: 25px;
  outline:none;
  border: none;
  border-radius: 2px;
  margin:10px 0;
  background-color: #6a5acd;  
}

button{
  height: 27px;
  margin:10px 0;
}

ul{
  list-style: none;
}
li{
  border-radius: 2px;
  padding: 10px;
  margin:5px 0;
  background-color: #005792; 
  color: white;
  overflow: auto;
}
li:hover{
  background-color: #6a5acd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
